@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

.shopping-cart {
   width: 300px;
   background: white;
   float: right;
   border: solid 1px  #E8E8E8;
   border-radius: 5px;
   padding:20px;
   margin:20px 0;
}

.shopping-cart .shopping-cart-header {
   padding-bottom: 15px;
   border-bottom: solid 1px #E8E8E8
}

.lighter-text {
  color: black;
}

.main-color-text {
  color:red;
}

/* .shopping-cart .shopping-cart-header {
  
} */

.shopping-cart .shopping-cart-header .shopping-cart-total {
  float:right;
}

.shopping-cart .shopping-cart-items {
   list-style: none;
   display: inline;
}

.shopping-cart .shopping-cart-items li {
   margin-left:20px;
   padding-bottom:20px;
}

.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right:10px;
}

.shopping-cart .shopping-cart-items .item-name {
  display:block;
  font-size: 16px;
  padding-bottom:18px;
}

.shopping-cart .shopping-cart-items .item-price {
   margin-right: 10px;
   font-size: 16px;
   color:#6394F8;
}

.shopping-cart .shopping-cart-items .item-quantity {
   padding-left: 20px;
   font-size: 16px;
   color:#ABB0BE;
}

.shopping-cart::after {
    bottom:100%;
    left: 89%;
    border: solid transparent;
    content:"";
    height: 0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-bottom-color:white;
    border-width:8px;
    margin-left:-8px;
}

.clearfix::after {
  content:'';
  clear: both;
}

a, a:hover {
   cursor:pointer;
}

.button {
   background: #6394F8;
   color: white;
   text-align:center;
    padding:12px;
    text-decoration:none;
    display:block;
    border-radius:5px;
    font-size:16px;
    margin:10px 0 0 0;
}

.badge {
  background-color: #6394F8;
  border-radius : 10px;
  color:white;
  display: inline-block;
  margin-left:10px;
  padding:3px 7px;
  text-align:center;
  line-height: 1;
  white-space:nowrap;
}

.cart-icon {
   font-size:24px;
   color: #515783;
}






