ul > li > a:hover, a:active, a:visited {
    text-decoration: none;
    cursor: pointer;
} 

.section-title  {
    padding-top: 40px;
}

.section-title h2 {
    margin: 0;
}

.section-title small {
    display: block;
}


.navbar-menu {
    margin: 0;
    
}

.custom-navbar {
    padding: 0;
    margin: 0;
    line-height: 3;
}

.navbar-menu li {
    display: inline-block;
    padding: 16px 24px;
    text-align: center;
    margin: 0;
    
}

.navbar-menu li:hover {
    /* color: green; */
    /* transition: 0.5s; */
    background: #42b3f4;
    color: white;
    
}

.navbar-menu li a:hover {
    color: white;
}



.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.feature-thumb {
    border: 1px solid #f0f0f0;
    padding: 5em 3em;
}

.feature-thumb span {
    background: #3f51b5;
    display: inline-block;
    border-radius: 50px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    width: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px;
}

.feature-thumb h3 {
    margin: 10px 0;
}

/* .carousel-item img {
} */
/* team */
#team {
    background: rgb(231, 224, 224);
}

#team .section-title {
    text-align: center;
}


.team-thumb {
    border: 1px solid #f0f0f0;
    /* padding:  */
    position: relative;
    overflow: hidden;
    background: #ffffff;
    text-align: left;
}

.team-thumb .social-icon {
    margin: 0;
    padding: 4px 20px 0 20px;
    border-top: 1px solid #f0f0f0;
}

.team-thumb .social-icon li a {
    background: #ffffff;
    color: #252020;
}

.team-image img {
    width: 100%;
}

.team-info {
    padding: 16px 24px;
}

/* social-icon */
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    margin-bottom: 5px;
    list-style: none;
}


.social-icon li a {
    background: #ffffff;
    color: #252020;
    border-radius: 100px;
    color: #29ca8e;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0;
}

.social-icon li a:hover {
    cursor: pointer;
    background: #29ca8e;
    color: #ffffff;
}

/* courses */
#courses .section-title {
    text-align: center;  
}

#courses .owl-theme .owl-nav {
    margin-top: 30px;
}

#courses .owl-theme .owl-nav [class*=owl-] {
    border-radius: 2px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
}

.courses-thumb {
    background: #ffffff;
    position: relative;
}

.courses-top {
    position: relative;
}

.courses-image {
    background: linear-gradient(rgba(to right, #202020, #101010));
}

.courses-date {
    background: linear-gradient(rgba(255, 0,  0, 0), rgba(0,0,0,0.6));
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 25px;
}

.courses-date span,
.courses-author span {
    font-size: 14px;
    font-weight: bold;
}

.courses-detail {
    background: rgb(231, 224, 224);
    padding: 25px 25px 15px 25px;
    border-bottom: 1px solid #f0f0f0;
}

.courses-info {
    background: rgb(231, 224, 224);
    border-top: 1px solid #f0f0f0;
    padding: 15px 25px;
    clear: both;
    position: relative;
}

.courses-author,
.courses-author span {
    display: inline-block ;
    vertical-align: middle;
    /* float: right; */
}

.courses-author img {
    display: inline-block !important;
    width:50px !important;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.courses-price {
    float: right;
    margin-top: 8px;

}

.courses-price span {
    background: #29ca8e;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    padding: 5px 10px;

}

/* contact */

#contact {
    background: #3f51b5;
}

#contact h2 {
    color: #ffffff;
}

#contact h2 > small,
#contact p,
#contact a {
    color: #f9f9f9;
}

    

#contact-form {
    display: inline-block;
    padding: 1em 0;
}

#contact-form .col-md-12,
#contact-form .col-md-4 {
    padding-left: 0;
}

#contact-form .form-control {
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    margin: 10px 0;
}

#contact-form input {
    height: 50px;
}

#contact-form input[type='submit'] {
    border-radius: 50px;
    border:1px solid transparent;
}

#contact-form input[type='submit']:hover {
    background: transparent;
    color: #ffffff;
    border-color: #ffffff;
    cursor: pointer;
}


/* footer */
#footer {
    background: #252020;
}

#footer h2 {
    color: #909090;
}

#footer address p {
    color: #909090;
}

#footer address p a {
    color: #909090;
}

#footer address p a:hover {
    color: #29ca8e;
    cursor: pointer;
    text-decoration: none;
}


.copyright-text p {
    color: #909090;
}

.copyright-text p a {
    color: #909090;
}

.copyright-text p a:hover {
    color: #29ca8e;
    text-decoration: none;
    cursor: pointer;
}

.footer-info {
    margin: 2em;
}

.footer_menu h2 {
    margin-top: 2em;
}

.footer_menu ul {
    margin: 0;
    padding: 0;
}

.footer_menu ul li {
  display: inline-block;
  padding: 5px 5px;
  list-style: none;
  
}

.footer_menu ul li a {
    color: #909090;
}

.footer_menu ul li a:hover {
    color: #29ca8e;
}


.newsletter-form .form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #303030;
    height: 50px;
    margin: 5px 0;
}


.newsletter-form input[type="submit"]
{   
    background: transparent;
    border: 1px solid #f9f9f9;
    border-radius: 50px;
    color: #909090;
    margin-top: 20px;
    outline: none;
    width: 50%;
}


.newsletter-form input[type="submit"]:hover {
    background: #29ca8e;
    cursor: pointer;
}


.newsletter-form span {
    color: #909090;
    display: block;
    font-size: 12px;
    margin-top: 20px;
}


/* home and slider */

#home {
    padding: 0;
}

#home h1 {
    color: #ffffff;
}

#home h3 {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 40px 0;
}

/* responsive styles home and slider */
@media (min-width:768px) {
    .home-slider .col0md-6 {
        padding-left: 0;
    }

    .home-slider .item {
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: auto;
        height: 650px;
    }

    .home-slider .item-first {
        background-image: url("../Bootstrap_tutorial/images_teachers/slider-image1.jpg");
        background-position: center;
    }

    
    .home-slider .item-second {
        background-image: url("../Bootstrap_tutorial/images_teachers/slider-image1.jpg");
       
    }

    
    .home-slider .item-third {
        background-image: url("../Bootstrap_tutorial/images_teachers/slider-image1.jpg");
       
    }
}

/* responsive styles */

@media screen and (min-width:1200px) {
    section, footer {
        padding-bottom: 60px;
    }

    #slider {
        background-size: auto;
    }

    .section-title {
        padding-top: 60px;
        padding-bottom: 40px; 
    }


    .contact-image {
        margin-top: 60px;
    }




}


@media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav .navbar-nav first {
        margin-left:inherit; 
    }

}

@media only screen and (max-width: 992px) {
    section, footer {
        padding: 60px 0;
    }



    /* .item {
        background-position: center center;
    } */

    .feature-thumb, .team-thumb, .footer-info {
        margin-bottom: 50px;
    }

}

@media only screen and (max-width: 768px) and (max-width:991px) {
    .custom-navbar .nav li a {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 580px) {

}

@media only screen and (max-width: 480px) {

}
