ul > li > a:hover, a:active, a:visited {
    text-decoration: none;
    cursor: pointer;
} 

.navbar-menu {
    margin: 0;
    
}

.custom-navbar {
    padding: 0;
    margin: 0;
    line-height: 3;
}

.navbar-menu li {
    display: inline-block;
    padding: 16px 24px;
    text-align: center;
    margin: 0;
    
}

.navbar-menu li:hover {
    /* color: green; */
    /* transition: 0.5s; */
    background: #42b3f4;
    color: white;
    
}

.navbar-menu li a:hover {
    color: white;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.feature-thumb {
    border: 1px solid #f0f0f0;
    padding: 5em 3em;
}

.feature-thumb span {
    background: #3f51b5;
    display: inline-block;
    border-radius: 50px;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    width: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px;
}

.feature-thumb h3 {
    margin: 10px 0;
}

/* .carousel-item img {
} */
/* team */
#team {
    background: rgb(196, 196, 196);
}

#team .section-title {
    text-align: center;
    margin-bottom: 10px;
}


.team-thumb {
    border: 1px solid #f0f0f0;
    /* padding:  */
    position: relative;
    overflow: hidden;
    background: #ffffff;
    text-align: left;
}

.team-thumb .social-icon {
    margin: 0;
    padding: 4px 20px 0 20px;
    border-top: 1px solid #f0f0f0;
}

.team-thumb .social-icon li a {
    background: #ffffff;
    color: #252020;
}

.team-image img {
    width: 100%;
}

.team-info {
    padding: 16px 24px;
}

/* social-icon */
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    padding: 8px;
}


.social-icon li a {
    background: #ffffff;
    color: #252020;
    border-radius: 40px;
    color: #29ca8e;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 6px 6px 6px 0;
}

.social-icon li a:hover {
    cursor: pointer;
    background: #29ca8e;
    color: #ffffff;
}

/* courses */
#courses .section-title {
    text-align: center;  
   
}




/* responsive styles */
@media screen and (max-width: 1170px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) and (max-width:991px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 580px) {

}

@media only screen and (max-width: 480px) {

}
